Source: gcs
Maintainer: Livanh <livanh@protonmail.com>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: gcs
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, coreutils, sed, grep, awk, bc, git, xmlstarlet, perl, oomox, crudini
Recommends: dconf-cli, libglib2.0-bin, procps, x11-server-utils, xsettingsd|gnome-settings-daemon, zip
Priority: optional
Section: misc
Description: Extensible color theme switcher for many applications
 GCS is a tool to change the color scheme of your Linux desktop. It can take care of general purpose toolkits (like GTK) as well as specific applications which have their own color settings. The purpose of GCS is to configure every configurable color in your desktop in a consistent manner and with a single command.
 .
 GCS is easily extensible, so if some program you use is not supported, you can easily create a module for it (detailed documentation will be made at some point in the future, for now use exising modules as a template).
